body{
    background-color: pink;
    
}

#quote{
    display: block;
    text-align: center;
    font-size: 50px;
    background-color: red;
    border-style: solid;
    border-color: white;

}


#box-container-slide{
   
    background-color: aqua;
   border-top-color: #856036;
   border-left-color: #5d4426;
   border-bottom-color: #856036;
   border-right-color: #5d4426;
   position: relative;
   padding: 10px 10px 10px 10px;
   background-color: none;
   margin-top: 15px;
   margin-bottom: 30px;
   width: 116em;
   height: 700px;
   overflow: hidden;

}
.photo-slide{
    align-items: center;
    display: block;
    margin-left: 40%;
}


.container1{
    display: grid;
    border: 4px solid black;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows:1fr;
    column-gap: 3px;
    row-gap: 8px;
}
.grid4{
    border: 1.5px solid black;
    
}